#include "config.h"

const char *kSSID = "my_wifi_ssid";
const char *kWifiPassword = "my_wifi_password";
const char *kSpotifyClientId = "my_spotify_client_id";
const char *kSpotifyClientSecret = "my_spotify_client_secret";
const char *kSpotifyRefreshToken = "my_spotify_refresh_token";
const char *kSpotifyCountryCode = "IE";
